<p>
  <b>Sass text:</b>
  <%=h @sass_page.sass_text %>
</p>

<p>
  <b>Sass name:</b>
  <%=h @sass_page.sass_name %>
</p>


<%= link_to 'Edit', edit_sass_page_path(@sass_page) %> |
<%= link_to 'Back', sass_pages_path %>