<p>
  <b>Group:</b>
  <%=h @attendence.group %>
</p>

<p>
  <b>Year:</b>
  <%=h @attendence.year %>
</p>


<%= link_to 'Edit', edit_attendence_path(@attendence) %> |
<%= link_to 'Back', attendences_path %>